// Customize Components
$background: #fe3f46;
$startButtonBackground: #2ECC71;
$white: white;

// Body
body {
    width: 100%;
    height: 100%;
}

// Clock timer icons
.clockTimer {
    background: $background;
    padding: 20px 40px;
    text-align: center;
    color: white;
    border-radius: 5px;
    margin-left: 5px;
}


// StartButton 
.startButton {
    background: #0084CE;
    color: white;
    border-radius: 0px;
    padding: 10px 40px;
    border: 3px solid #0084CE;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
    box-shadow: 0px 6px 0px 0px #005485;
    transition: 500ms ease;
}

// StartButton : hover
.startButton:hover {
    background: $white;
    border: 3px solid #0084CE;
    box-shadow: none;
    border-radius: 5px;
    color: #0084CE;
}

// ResetButton 
.resetButton {
    margin-left: 20px;
    background: #FAA732 !important;
    color: white;
    border-radius: 0px;
    font-size: 20px;
    padding: 10px 40px;
    border: 3px solid #FAA732;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0px 6px 0px 0px #a06a1f;
    transition: 500ms ease;
}

// ResumeButton 
.resumeButton {
    margin-right: 20px;
    background: #49AFCD !important;
    color: white;
    border-radius: 0px;
    font-size: 20px;
    padding: 10px 40px;
    border: 3px solid #49AFCD;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0px 6px 0px 0px #2c6f83;
    transition: 500ms ease;
}

// ResumeButton : Hover 
.resumeButton:hover {
    background: white !important;
    color: #49AFCD;
    border-radius: 5px;
    box-shadow: none;
    border: 3px solid #49AFCD;
}


// ResetButton : Hover 
.resetButton:hover {
    background: white !important;
    border: 3px solid #FAA732;
    color: #FAA732;
    box-shadow: none;
    border-radius: 5px;
}

// StopButton
.stopBtn {
    background: #DE524A;
    color: white;
    border-radius: 0px;
    padding: 10px 40px;
    font-size: 20px;
    border: 3px solid #DE524A;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0px 6px 0px 0px #91342f;
    transition: 500ms ease;
}

// StopButton : Hover 
.stopBtn:hover {
    background: white;
    color: #DE524A;
    border: 3px solid #DE524A;
    box-shadow: none;
    border-radius: 5px;
}

// Emoji faces
.emoji {
    font-size: 25px !important;
}

// Header which has a value inside 
.finalValueHeader {
    background: #DE524A;
    color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

// StartButton
.resetButton {
    background: blue;
    color: white;
}

// Div result inside a timer 
.Connector {
    width: 100%;
    background: rgb(238, 238, 238);
    box-shadow: 0px 6px 0px 0px #999fa3;
    border: 2px solid #999fa3;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}


// Input value 
.inputValueTodo {
    width: 100%;
}

// Timer column 
.TimerColumn {
    margin-left: 45px;
}

// renderBtn
.renderBtn {
    background: #F0C330;
    color: white;
    border-radius: 0px;
    padding: 10px 40px;
    font-size: 20px;
    border: 3px solid #F0C330;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0px 6px 0px 0px #9c7f1e;
    transition: 500ms ease;
    margin-bottom: 40px;
    margin-top: 25px;
}

// renderBtn : Hover
.renderBtn:hover {
    background: $white;
    color: #F0C330;
    border: 3px solid #F0C330;
    box-shadow: none;
    border-radius: 5px;
}

// Media queries max width 500px
@media screen and (max-width: 500px) {
    .clockTimer {
        padding: 15px;

        p {
            display: none;
        }
    }

    .value_span {
        display: none !important;
    }
}


@media screen and (max-width: 390px) {
    .resetButtonTwo {
        margin-top: 25px;
        margin-right: 35px;
    }
}